<!DOCTYPE html>
<html>
  <head>
    <title>Demo of Snack Example using pydcjs</title>
    
    {{pydcjs_css_header | safe}}
  
  </head>
  <body>
    <h1>Demo of Snack Example using pydcjs</h1>

    {{pydcjs_html_divs["location-bar-plot"] | safe}}
    {{pydcjs_html_divs["withwho-area-daily-plot"] | safe}}
    {{pydcjs_html_divs["location-period-hm-plot"] | safe}}
    {{pydcjs_html_divs["avghealth-location-period-hm-plot"] | safe}}
    {{pydcjs_html_divs["neighborhood-row-plot"] | safe}}
    
    
    {{pydcjs_js_header | safe}}
    
    {{pydcjs_js_plot | safe}}
  </body>
</html>
